<div class="card-info-wrapper"
     [ngClass]="setColor()">
  <div class="title-section">
    <i class="icon-home"
       aria-hidden="true"></i>
    <span class="title">
      {{ title }}
    </span>
  </div>
  <div class="info-section"
       [ngClass]="setColor()">
    <span class="number">{{ numberInfo }}</span><span class="symbol">{{ symbol }}</span>
  </div>
  <button class="btn btn-sm btn-outline-primary"
          (click)="goToStats()">
    <i class="icon-chart"></i> Stats
  </button>
</div>