<div class="card-info-wrapper"
     [ngClass]="setColor()">
  <div class="title-section">
    <img *ngIf="isSymbolTemperature"
         src="assets/icons/temperature.svg">
    <img *ngIf="!isSymbolTemperature"
         src="assets/icons/humidity.svg">
    <!-- <span class="d-none d-md-block title"> -->
    <span class="title">
      {{ title }}
    </span>
  </div>
  <div class="info-section"
       [ngClass]="setColor()">
    <span class="number">{{ numberInfo }}</span><span class="symbol">{{ symbol }}</span>
  </div>
  <button class='btn btn-sm btn-outline-primary '>
    <i class="fa fa-pencil"></i> Stats
  </button>
</div>