<div class="card-info-wrapper"
     [ngClass]="setColor()">
  <div class="title-section">
    <i class="icon-home"
       aria-hidden="true"></i>
    <span class="title">
      {{ title }}
    </span>
  </div>
  <div class="info-section"
       [ngClass]="setColor()">
    <span class="number">{{ numberInfo }}</span><span class="symbol">{{ symbol }}</span>
  </div>
  <app-custom-button (action)="goToStats($event)"
                     icon="icon-chart"
                     label="Stats"></app-custom-button>
</div>