@import '~src/assets/sass/main';

:host {
  .card-info-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid;
    border-radius: 5px;
    border-color: $color-green-default;
    padding: 15px 0;

    &.critical-value {
      border-color: $color-red-default;
    }
    &.normal-value {
      border-color: $color-green-default;
    }
    &.warning-value {
      border-color: $color-yellow-default;
    }
  }

  .title-section {
    display: flex;
    flex-direction: row;
    align-items: center;

    i {
      margin-top: 10px;
      font-size: 20px;
      color: $color-white-default;
    }
    .title {
      margin-left: 5px;
      font-size: 12px;
      border-bottom: 1px solid $color-white-default;
      cursor: pointer;
    }
  }

  .info-section {
    color: $color-green-default;
    &.critical-value {
      color: $color-red-default;
    }
    &.normal-value {
      color: $color-green-default;
    }
    &.warning-value {
      color: $color-yellow-default;
    }
    .number {
      margin-left: 5px;
      font-size: 62px;
    }
    .symbol {
      font-size: 16px;
    }
  }
}
