@import '~src/assets/sass/main';

:host ::ng-deep {
  .charts-wrapper {
    display: flex;
    flex-direction: column;

    .filter {
      margin-top: 10px;
    }

    .line-chart {
      margin-top: 20px;
    }
  }
}
