@import '~src/assets/sass/main';

:host {
  p {
    margin: 0 35px;
  }

  .alert-custom {
    color: $color-red-secondary;
    background-color: $color-red-primary;
    border-color: $color-red-secondary;
  }
}
