<div class="modal-header">
  <h1>Detail "Municipio" info</h1>
  <button type="button"
          class="close"
          aria-label="Close"
          (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngFor="let info of infoData"
       class="data-row">
    <span><strong>{{ info.label }}:</strong> {{ info.text }}</span>
  </div>
</div>
<div class="modal-footer center-button">
  <button class="btn btn-sm btn-outline-primary"
          (click)="activeModal.close('Close click')"> Close
  </button>
</div>