@import '~src/assets/sass/main';

:host {
  .card-wf-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    width: 120px;
    padding: 10px;
    border: 1px solid $color-white-default;
    border-radius: 5px;

    img {
      width: 40px;
      height: 40px;
      margin-top: 5px;
    }

    .data-section {
      margin-top: 5px;
      display: flex;
      flex-direction: column;
    }
  }
}
