<section class="card-wf-wrapper">
  <span>{{ predictionData.date }}</span>
  <img src="assets/icons/nature-icons/043-sun.svg">
  <span>ºC Max: {{ predictionData.temperature.max }}</span>
  <span>ºC Min: {{ predictionData.temperature.min }}</span>
  <span>ºC S. Max: {{ predictionData.thermalSensation.max }}</span>
  <span>ºC S. Min: {{ predictionData.thermalSensation.min }}</span>
  <span>% Max: {{ predictionData.relativeHumidity.max }}</span>
  <span>% Min: {{ predictionData.relativeHumidity.min }}</span>
</section>