<ngb-tabset>
  <ngb-tab title="All">
    <ng-template ngbTabContent> <app-stats-all></app-stats-all> </ng-template>
  </ngb-tab>
  <ngb-tab title="Humidity Air">
    <ng-template ngbTabContent>
      <app-stats-weather></app-stats-weather>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Humidity Ground">
    <ng-template ngbTabContent>
      <app-stats-weather></app-stats-weather>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Temperature Air">
    <ng-template ngbTabContent>
      <app-stats-weather></app-stats-weather>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
