@import '~src/assets/sass/main';

:host {
  .current-section {
    font-size: 10px;
    border: 2px solid $color-white-default;
    border-radius: 4px;
    width: 50%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;

    span {
      margin-top: 5px;
    }

    .state {
      font-size: 22px;
      margin-bottom: 5px;
      color: $color-blue-secondary;
    }
  }

  .title-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    i {
      margin-top: 10px;
      font-size: 20px;
      color: $color-white-default;
    }
    .title {
      margin-left: 5px;
      font-size: 12px;
      border-bottom: 1px solid $color-white-default;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .options-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;

    .option {
      width: 100%;
      margin: 0 20px;

      span {
        cursor: pointer;
      }

      &.actived {
        color: $color-blue-primary;

        &:hover {
          color: $color-blue-secondary;
        }
      }
      &.disabled {
        color: $color-disabled-default;
      }
    }

    @include media-breakpoint-down(md) {
      flex-direction: column;

      .option {
        margin: 10px 0;
      }
    }
  }

  .adjustments-section {
    margin: 20px 0;
    height: 150px;
    border: 2px solid $color-blue-default;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      font-size: 22px;
    }

    .manual-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .description {
        margin-bottom: 10px;
        font-size: 12px;
      }

      app-panel-error {
        margin-top: 8px;
      }
    }
  }
}
