@import 'global-variables';

.button-link {
  font-size: 12px;
  background: transparent;
  color: $color-green-default;
  border: none;
  cursor: pointer;

  &:hover {
    color: $color-green-primary;
  }

  i {
    margin-right: 2px;
    font-size: 18px;
    vertical-align: middle;
  }
}
