$green: #27ff7a, #74eebb;
$green300: nth($green, 1);
$green500: nth($green, 2);

$red: #ff5555, #ff4040, #5d141d;
$red250: nth($red, 1);
$red300: nth($red, 2);
$red800: nth($red, 3);

$yellow: #e5ff51;
$yellow300: nth($yellow, 1);

$white: #fffcd9;
$white300: nth($white, 1);

$blue: #1d203b;
$blue800: nth($blue, 1);
