@import 'colors-app';

$color-yellow-default: $yellow300;
$color-red-default: $red300;
$color-green-default: $green300;
$color-white-default: $white300;

$color-red-primary: $red250;
$color-red-secondary: $red800;

$color-green-primary: $green500;

$color-blue-primary: $blue300;
$color-blue-darkest: $blue800;

$color-disabled-default: $grey400;
