$app-green: #27ff7a, #74eebb;
$green300: nth($app-green, 1);
$green500: nth($app-green, 2);

$app-red: #ff5555, #ff4040, #5d141d;
$red250: nth($app-red, 1);
$red300: nth($app-red, 2);
$red800: nth($app-red, 3);

$app-yellow: #e5ff51;
$yellow300: nth($app-yellow, 1);

$app-white: #fffcd9;
$white300: nth($app-white, 1);

$app-blue: #2533b3, #1d203b;
$blue300: nth($app-blue, 1);
$blue800: nth($app-blue, 2);

$app-grey: #525252;
$grey400: nth($app-grey, 1);
