html {
  position: relative;
  min-height: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: $font;
  color: #fffcd9;
  background-color: #1d203b;
  letter-spacing: 3px;
}

.container {
  min-height: 100%;
  height: 100%;
}

.row {
  width: 100%;
  margin: 35px -15px;
}

.col {
  text-align: center;
}

hr {
  border: 0;
  height: 3px;
  margin: 0 6rem;
  background-image: linear-gradient(to right, #1d203b, #74eebb, #1d203b);
}
